:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffffba;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --shadow-color: rgba(55, 84, 170, 0.15);
  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 65%;
  overflow-y: scroll;

  @media screen and (min-width: 900px) {
    font-size: 75%;
  }
}
/* List parameters */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

hr {
  width: 280px;
  color: var(--primary-light) !important;
  margin: 0 auto !important;
  border: 1px solid !important;
}

/* App content */
.main-content {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  width: 400px;
  height: min-content;
  font-family: "Merriweather Sans", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 22px;
  background: var(--greyLight-1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Find location button */
.location-btn {
  position: relative;
  top: -12px;
  width: 50px;
  height: 50px;
  background: var(--greyLight-1);
  border-color: transparent;
  border-radius: 200px;
  box-shadow: var(--shadow);
  transition: 0.4s cubic-bezier(0, 0.57, 0.49, 1.51);
  cursor: pointer;
}
.location-btn:hover {
  box-shadow: var(--inner-shadow);
  transform: scale(0.9);
}

.location-icon {
  font-size: 35px;
  color: var(--primary-light);
}
.location-icon:hover {
  color: var(--primary-dark);
}

/* Name location and current time */

.current-city {
  display: inline-block;
  font-size: 38px;
  color: #161d6f;
}
#country {
  display: inline-block;
  font-size: 28px;
  color: #161d6f;
}
#current-time {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: var(--primary-dark);
}

/* Search city input */

.s-input {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  padding-left: 45px;
  width: 300px;
  height: 40px;
  background: none;
  border-color: transparent;
  outline: none;
  color: var(--primary-dark);
  border-radius: 200px;
  box-shadow: var(--inner-shadow);
}

.s-input::placeholder {
  color: var(--greyDark);
  letter-spacing: normal;
  transform-origin: center left;
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.s-input:focus::placeholder {
  letter-spacing: 60px;
  transform: translateX(300px) scale(2);
}

.s-input:focus {
  outline: none;
  box-shadow: var(--shadow);
}

.search-icon {
  position: relative;
  top: 32px;
  right: 120px;
  font-size: 22px;
  color: #2155cd;
  transition: 0.3s ease;
}

/* Main weather information */
.main-inform {
  border-radius: 15px;
}

.information {
  padding: 0;
  font-size: 16px;
  color: var(--primary-dark);
}

.first-weather-icon {
  position: relative;
  bottom: 20px;
  left: 60px;
  width: 118px;
}

.recent-temp {
  float: left;
  font-size: 65px;
  color: #161d6f;
}

.unit {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-dark);
  cursor: default;
}

.active {
  color: var(--primary-light);
}
.active:hover {
  text-decoration: none;
  color: var(--primary-light);
}

/* 6 Days forecast sliders */
.second-heading {
  color: #161d6f;
}

.second-content {
  width: 370px;
  height: max-content;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  color: var(--primary-dark);
  border-radius: 40px;
  box-shadow: var(--inner-shadow);
}

.weekdays {
  font-size: 20px;
  color: #161d6f;
}

.arrow-left,
.arrow-right {
  width: 3rem !important;
  background-color: var(--primary-light);
  border-radius: 14px;
  box-shadow: var(--shadow-color);
}

.arrow-left {
  border-radius: 0 14px;
}

.arrow-right {
  border-radius: 14px 0;
}

.weather-icon {
  width: 100px;
}
/* Footer */
.footer {
  font-size: 16px;
}

.code-link {
  color: var(--primary-light);
  text-decoration: none;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out;
}
.code-link:hover {
  color: var(--primary-dark);
  font-size: larger;
}
