:root {
  --white: #ffffffba;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --shadow-color: rgba(55, 84, 170, 0.15);
  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
}
body {
  height: 100%;
}

hr {
  width: 280px;
  color: #808cee !important;
  margin: 0 auto !important;
  border: 1px solid !important;
}

/* App content */
.main-content {
  width: 400px !important;
  height: auto !important;
  min-height: 100%;
  font-family: "Merriweather Sans", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 22px;
  background-image: linear-gradient(
    to right top,
    #d2defe,
    #d7ddfd,
    #dbdcfb,
    #dfdcf9,
    #e3dbf7,
    #e2def9,
    #e1e1fb,
    #e0e4fd,
    #ddebff,
    #ddf2ff,
    #e0f8ff,
    #e7fdff
  );
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Find location button */
.location-btn {
  position: relative;
  top: -12px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  background: transparent;
  border-radius: 200px;
  box-shadow: var(--shadow);
  transition: 0.4s cubic-bezier(0, 0.57, 0.49, 1.51);
  cursor: pointer;
}
.location-btn:hover {
  box-shadow: var(--inner-shadow);
  transform: scale(0.9);
}

.location-icon {
  font-size: 35px;
  color: #5a6be3;
}
.location-icon:hover {
  color: #3b4f7d;
}

/* Name location and current time */

.current-city {
  display: inline-block;
  font-size: 38px;
  color: #3b4f7d;
}
#country {
  display: inline-block;
  font-size: 28px;
  color: #6c7b9e;
}
#current-time {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: #5a6be3;
}

/* Search city input */

.s-input {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 45px;
  width: 300px;
  height: 45px;
  background: none;
  border-color: transparent;
  outline: none;
  color: #3b4f7d;
  border-radius: 200px;
  box-shadow: var(--inner-shadow);
}

.s-input::placeholder {
  color: var(--greyDark);
  letter-spacing: normal;
  transform-origin: center left;
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.s-input:focus::placeholder {
  letter-spacing: 60px;
  transform: translateX(300px) scale(2);
}

.s-input:focus {
  outline: none;
  box-shadow: var(--shadow);
}

.search-icon {
  position: relative;
  top: 34px;
  right: 120px;
  font-size: 22px;
  color: #5a6be3;
  transition: 0.3s ease;
}

/* Main weather information */

.main-icon,
.temp {
  height: 80px;
}

.first-weather-icon {
  position: relative;
  bottom: 20px;
  left: 60px;
  width: 118px;
}

.recent-temp {
  float: left;
  font-size: 65px;
  color: #3b4f7d;
}

.unit {
  text-decoration: none;
  font-size: 20px;
  color: #3b4f7d;
  cursor: default;
}

.active {
  color: #5a6be3;
}
.active:hover {
  text-decoration: none;
  color: #5a6be3;
}

.parameters-btn {
  width: 200px !important;
  height: 30px !important;
  margin: 0 auto;
  border-color: transparent;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0.6, 1.51);
}

.parameters-btn:hover {
  box-shadow: -10px -10px 30px #eaf6f7ba, 10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #f1f8f9db;
  border-radius: 30px;
}

.arrow-down-icon {
  color: #5a6be3;
  font-size: 20px;
}

.parameters {
  border-radius: 20px;
  flex-shrink: unset !important;
  padding: 0;
  font-size: 16px;
  color: #6c7b9e;
  background: #E8DAF4;
  
}

#info:first-letter {
  text-transform: capitalize;
}

.param-icons {
  font-size: 30px;
}

/* 6 Days forecast sliders */
.second-heading {
  color: #3b4f7d;
  font-size: 24px;
}

.second-content {
  height: max-content;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: #6c7b9e;
  border-radius: 40px;
  box-shadow: var(--inner-shadow);
}

.weekdays {
  font-size: 20px;
  color: #5a6be3;
}

.weekdays-date {
  font-size: 16px;
}

.arrow-left,
.arrow-right {
  width: 3rem !important;
}

.arrow-right-icon,
.arrow-left-icon {
  font-size: 38px;
  color: #5a6be3;
  transition: 0.4s cubic-bezier(0, 0.57, 0.49, 1.51);
}

.arrow-right-icon:hover,
.arrow-left-icon:hover {
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.918), 10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025, inset 10px 10px 10px rgba(255, 255, 255, 0.89);
  border-radius: 30px;
}

.daily-temp {
  font-size: 16px;
}

.min-temp {
  opacity: 0.6;
}

.weather-icon {
  width: 100px;
}
/* Footer */
.footer {
  font-size: 16px;
}

.code-link {
  color: #5a6be3;
  text-decoration: none;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out;
}
.code-link:hover {
  color: #3b4f7d;
  font-size: larger;
}
