:root {
  --white: #ffffffba;
  --greyLight-2: #c8d0e7;
  --shadow-color: rgba(55, 84, 170, 0.15);
  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #d2defe45 !important;
}

hr {
  width: 320px;
  color: #0f0766 !important;
  margin: 0 auto !important;
  border: 1px solid !important;
}

ul {
  column-count: 2;
  margin: 0 !important;
}

li {
  list-style: none;
}

/* App content */
.main-content {
  width: 85% !important;
  height: auto !important;
  min-height: 100%;
  font-family: "Merriweather Sans", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 22px;
  background-image: linear-gradient(
    to right top,
    #d2defe,
    #d7ddfd,
    #dbdcfb,
    #dfdcf9,
    #e3dbf7,
    #e2def9,
    #e1e1fb,
    #e0e4fd,
    #ddebff,
    #ddf2ff,
    #e0f8ff,
    #e7fdff
  );
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Find location button */
.location-btn {
  position: relative;
  top: -12px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  background: transparent;
  border-radius: 200px;
  box-shadow: var(--shadow);
  transition: 0.4s cubic-bezier(0, 0.57, 0.49, 1.51);
  cursor: pointer;
}
.location-btn:hover {
  box-shadow: var(--inner-shadow);
  transform: scale(0.9);
}

.location-icon {
  font-size: 35px;
  color: #8e05c2;
}
.location-icon:hover {
  color: #0f0766;
}

/* Name location and current time */

.current-city {
  display: inline-block;
  font-size: 38px;
  color: #0f0766;
}
#country {
  display: inline-block;
  font-size: 28px;
  color: #8e05c2;
  opacity: 0.6;
}
#current-time {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: #8e05c2;
}

/* Search city input */

.s-input {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 45px;
  width: 300px;
  height: 45px;
  background: none;
  border-color: transparent;
  outline: none;
  color: #0f0766;
  border-radius: 200px;
  box-shadow: var(--inner-shadow);
}

.s-input::placeholder {
  color: #8e05c2;
  opacity: 0.5;
  letter-spacing: normal;
  transform-origin: center left;
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.s-input:focus::placeholder {
  letter-spacing: 60px;
  transform: translateX(300px) scale(2);
}

.s-input:focus {
  outline: none;
  box-shadow: var(--shadow);
}

.search-icon {
  position: relative;
  top: 34px;
  right: 120px;
  font-size: 22px;
  color: #0f0766;
  transition: 0.3s ease;
}

/* Main weather information */

.main-icon,
.temp {
  height: 80px;
}

.first-weather-icon {
  position: relative;
  bottom: 18px;
  left: 110px;
  width: 120px;
}

.recent-temp {
  float: left;
  font-size: 65px;
  color: #8e05c2;
  text-shadow: var(--shadow);
}

.unit {
  text-decoration: none;
  font-size: 20px;
  color: #0f0766;
  cursor: default;
}

.active {
  color: #8e05c2;
}
.active:hover {
  text-decoration: none;
  color: #8e05c2;
}

.unit:hover {
  color: #8e05c2 !important;
}

.parameters-btn {
  width: 200px !important;
  height: 30px !important;
  margin: 0 auto;
  border-color: transparent;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0.6, 1.51);
}

.parameters-btn:hover {
  box-shadow: -10px -10px 30px #eaf6f7ba, 10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #f1f8f9db;
  border-radius: 30px;
}

.arrow-down-icon {
  color: #8e05c2;
  font-size: 20px;
}

.parameters {
  padding: 0;
  font-size: 16px;
  color: #0f0766;
}

#info:first-letter {
  text-transform: capitalize;
}

.details {
  font-size: 16px;
  color: #0f0766;
}

.param-icons {
  font-size: 30px;
  color: #8e05c2;
}

/* 7 Days forecast */
.second-heading {
  color: #0f0766;
  font-size: 20px;
}

.scroll {
  height: 265px;
  overflow-x: hidden !important;
  border-radius: 20px;
  padding: 0 !important;
}

.accordion-button {
  border-color: transparent;
  background: transparent !important;
  transition: 0.4s cubic-bezier(0, 0.8, 0.6, 1.51);
  height: 90px;
  color: #0f0766 !important;
}

.accordion-button:hover {
  box-shadow: -10px -10px 30px #eaf6f7ba, 10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #f1f8f9db;
  border-radius: 30px;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #0f0766 !important;
  box-shadow: -10px -10px 30px #eaf6f7ba, 10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #f1f8f9db !important;
  border-radius: 30px !important;
  height: 90px;
}
.accordion-item {
  border-radius: 20px;
  flex-shrink: unset !important;
  padding: 0;
  font-size: 16px;
  color: #0f0766 !important;
  background: transparent !important;
}

.accordion-body .iconify {
  font-size: 30px;
  color: #8e05c2;
}

/* Footer */
.footer-line {
  width: 480px;
}
.footer {
  font-size: 16px;
  color: #0f0766;
}

.git-icon {
  font-size: 18px;
}

.code-link {
  color: #8e05c2;
  text-decoration: none;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out;
}
.code-link:hover {
  color: #0f0766;
  font-size: 18px;
}
